    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-navbar">
          <img src="/img/epicwin.png" id="img-navbar-logo" alt="">
          <h1 id="text-brand">EPIC WIN!</h1>
          <a href="#menu" id="navbar-nav"><img src="/img/hamburgermenu.png" id="img-navbar-menu" alt="Menu"></a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-intro">
          <video id="video-background" autoplay loop muted playsinline><!--poster="/img/fireball.jpg"-->
            <source src="/img/fireball.mp4" type="video/mp4">
          </video>
          <img src="/img/epicwin.png" id="img-logo" alt="Epic Win">
          <h1 id="text-tagline">Win Epic Software <span class="nowrap">Free-For-Life!</span></h1>
        </div>
      </div>
    </div>
